.border {
	font-family: futura;
	color: #FFFF66;
	text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 3em ridge #FFFF66;
  border-radius: 4em;
  background-color: #FF0000;
}

.border:before {
  content: '';
  position: absolute;
  left: -5%;
  width: 110%; 
  height: 80%; 
  background-color: #FFFF66; /* fallback */
  background-color: #FFFF66;
  opacity: 0.2;
  top: 0;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform: rotate(30deg);
}

.border:after {
  content: '';
  position: absolute;
  left: -5%;
  width: 110%; 
  height: 80%; 
  color: orange; 
  background-color: #FFFF66; /* fallback */
  background-color: #FFFF66;
  opacity: 0.3;
  top: 0;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.name_header {
  text-align: center;
  margin-top: 3em; 
}

.project_links {
	text-align: center;
	margin-top: 2em;
	padding: 3%;

	.each_project {
		display: inline;

		a {
			color: #FFFF66;
			text-decoration: none;
		}
	}
}

div.beerTynder_desc {
	display: none;
	text-align: center;
	border: 2px dotted orange;
	margin-top: 1em;
}

div.openmicnight_desc {
	display: none;
	text-align: center;
	border: 2px dotted orange;
	margin-top: 1em;
}

div.downthemlbs_desc {
	display: none;
	text-align: center;
	border: 2px dotted orange;
	margin-top: 1em;
}

.BeerTynder:hover div.beerTynder_desc {
	display: block;
}

.OpenMicNight:hover div.openmicnight_desc {
	display: block;
}

.DownThemLBs:hover div.downthemlbs_desc {
	display: block;
}


.link_contacts {
	text-align: center;
	margin-bottom: -1em;
	padding: 5%;

		a {
			color: #FFFF66;
			text-decoration: none;
		}
}

footer {
	text-align: center;
}

/* Media Queries */
@media screen and (max-device-width : 575px) {
	font-size: medium;

	a {
		font-size: medium;
	}

	.each_project a img {
		display: block;
		margin: 5% auto;
	}

	.link_contacts {
		text-align: center;
		padding: 5%;

			a {
				color: #FFFF66;
				font-size: 3em;
				text-decoration: none;
			}
	}
}
