/**************** Header ***************/

.navbar {
	background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
  color: white;
  text-shadow: 2px 2px #777;
}

.navbar-default .navbar-nav>li>a:active {
  color: #777;
}

ul.navbar-right li a{
	font-size: 2em;
}

.head_container {
  max-width: 960px;
  margin: 0 auto;

  	a {
		display: block;
		text-decoration: none;
		color: rgba(255, 255, 255, 0.8);
	}
}

/*************** Body *****************/

      /******scrolling***********/
.module:last-child {
  margin-bottom: 0;
}
.module h1 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
.module p {
  margin-bottom: 40px;
  font-size: 1em;
  font-weight: 300;
}
.module p:last-child {
  margin-bottom: 0;
}
.module.content {
  padding: 40px 0;
}
.module.parallax {
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 62px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.module.parallax-1 {
  margin-top: -20px;
  background: url("/img/desktop.jpeg");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.module.parallax-2 {
  background: url("/img/typing.jpeg");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.module.parallax-3 {
  background: url("/img/contact.jpeg");
  max-width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
    /******* summary/bio *******/
.linked_summary {
	text-align: center;
	font-size: 1em;
}
	/******* projects *******/
.project_links{
	text-align: center;

	a {
		display: block;
		text-decoration: none;
		color: #9d9d9d;
	}
}

.desc_border {
	border: 1px solid #9d9d9d;
	width: 90%;
	margin: 3% 5% 3% 5%;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

	h3 {
		margin-bottom: 15px;
		font-size: 1.5em;
	}

	p {
		font-size: 2em;
	}
}

.openmic {
	margin-top: 3em;
}

.beertynder {
	margin-top: 3em;
}

.finalcap {
	margin-top: 3em;
}

/************* Footer ************/

.link_contacts {
	text-align: center;
	margin-top: 3em;

	a {
		text-decoration: none;
		font-size: 1em;
		color: #9d9d9d;
	}
}

footer {
	text-align: center;
}

/********** Media Queries **********/

@media all and (max-width: 350px) {

}

@media all and (max-width: 600px) {

}
