/**************** Header ***************/
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

.head_container {
  max-width: 960px;
  margin: 0 auto; }
  .head_container a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8); }

/*************** Body *****************/
/******scrolling***********/
.module:last-child {
  margin-bottom: 0; }

.module h1 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px; }

.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300; }

.module p:last-child {
  margin-bottom: 0; }

.module.content {
  padding: 40px 0; }

.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.module.parallax h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 62px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.module.parallax h3 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.module.parallax-1 {
  margin-top: -20px;
  background-image: url("/img/desktop.jpeg");
  max-width: 100%;
  min-width: 300px;
  height: auto; }

.module.parallax-2 {
  background-image: url("/img/typing.jpeg");
  max-width: 100%;
  min-width: 300px;
  height: auto; }

.module.parallax-3 {
  background-image: url("/img/contact.jpeg");
  max-width: 100%;
  min-width: 300px;
  height: auto; }

/******* summary/bio *******/
.linked_summary {
  text-align: center;
  font-size: 1em; }

/******* projects *******/
.project_links {
  text-align: center; }
  .project_links a {
    display: block;
    text-decoration: none;
    color: #9d9d9d; }

.desc_border {
  border: 1px solid #9d9d9d;
  width: 90%;
  margin: 3% 5% 3% 5%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }
  .desc_border h3 {
    margin-bottom: 15px;
    font-size: 1.5em; }
  .desc_border p {
    font-size: 2em; }

.openmic {
  margin-top: 3em; }

.beertynder {
  margin-top: 3em; }

.finalcap {
  margin-top: 3em; }

/************* Footer ************/
.link_contacts {
  text-align: center;
  margin-top: 3em; }
  .link_contacts a {
    text-decoration: none;
    font-size: 1em;
    color: #9d9d9d; }

footer {
  text-align: center; }

/********** Media Queries **********/
@media all and (max-width: 350px) {
  body {
    font-size: 200%; }

  .module.parallax h2 {
    font-size: 24px; }

  .module.parallax-1 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .module.parallax-2 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .module.parallax-3 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .desc_border {
    display: block;
    width: 90%;
    margin: 3% 5% 3% 5%; }

  .project_pics {
    margin-top: 8%; }

  .link_contacts a {
    font-size: 20px; } }
@media all and (max-width: 600px) {
  .module.parallax h2 {
    font-size: 36px; }

  .module.parallax-1 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .module.parallax-2 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .module.parallax-3 {
    max-width: 100%;
    min-width: 300px;
    height: auto; }

  .desc_border {
    display: block;
    width: 90%;
    margin: 3% 5% 3% 5%; }

  .project_pics {
    margin-top: 8%; }

  .link_contacts a {
    font-size: 30px; } }
/*
@media all and (min-width: 1020px) {
  .desc_border {
  	h3 {
  		font-size: 200%;
  	}
  	p {
  		font-size: 200%;
  	}
  }
  .linked_summary {
		font-size: 200%;
	}
}
*/

/*# sourceMappingURL=main.css.map */
